In [1]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline
from IPython.display import SVG
from graphviz import Source
from IPython.display import display
from IPython.display import HTML
style = "<style>svg{width:50% !important;height:70% !important}</style>"
HTML(style)

In [2]:
animals = pd.read_csv('dogs_n_cats.csv')

In [3]:
animals

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [7]:
X = animals.drop('Вид', axis=1)
y = animals['Вид']

In [9]:
clf = tree.DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier()

In [10]:
task = pd.DataFrame({"\u0414\u043b\u0438\u043d\u0430":{"0":24,"1":24,"2":26,"3":18,"4":30,"5":19,"6":25,"7":31,"8":23,"9":17,"10":18,"11":18,"12":18,"13":34,"14":18,"15":25,"16":15,"17":19,"18":25,"19":34,"20":19,"21":15,"22":33,"23":29,"24":25,"25":19,"26":18,"27":26,"28":18,"29":20,"30":28,"31":31,"32":30,"33":18,"34":25,"35":17,"36":18,"37":33,"38":29,"39":27,"40":21,"41":34,"42":33,"43":29,"44":15,"45":16,"46":27,"47":22,"48":22,"49":13,"50":14,"51":5,"52":7,"53":9,"54":12,"55":7,"56":14,"57":12,"58":6,"59":8,"60":11,"61":8,"62":6,"63":9,"64":6,"65":6,"66":11,"67":11,"68":11,"69":10,"70":7,"71":10,"72":12,"73":9,"74":10,"75":7,"76":6,"77":11,"78":12,"79":12,"80":7,"81":13,"82":7,"83":12,"84":11,"85":9,"86":13,"87":6,"88":11,"89":10,"90":11,"91":8,"92":9,"93":12,"94":13,"95":5,"96":9,"97":8,"98":6,"99":11},"\u0412\u044b\u0441\u043e\u0442\u0430":{"0":28.8,"1":28.8,"2":31.2,"3":21.6,"4":36.0,"5":22.8,"6":30.0,"7":37.2,"8":27.6,"9":20.4,"10":21.6,"11":21.6,"12":21.6,"13":40.8,"14":21.6,"15":30.0,"16":18.0,"17":22.8,"18":30.0,"19":40.8,"20":22.8,"21":18.0,"22":39.6,"23":34.8,"24":30.0,"25":22.8,"26":21.6,"27":31.2,"28":21.6,"29":24.0,"30":33.6,"31":37.2,"32":36.0,"33":21.6,"34":30.0,"35":20.4,"36":21.6,"37":39.6,"38":34.8,"39":32.4,"40":25.2,"41":40.8,"42":39.6,"43":34.8,"44":18.0,"45":19.2,"46":32.4,"47":26.4,"48":26.4,"49":5.2,"50":5.6,"51":2.0,"52":2.8,"53":3.6,"54":4.8,"55":2.8,"56":5.6,"57":4.8,"58":2.4,"59":3.2,"60":4.4,"61":3.2,"62":2.4,"63":3.6,"64":2.4,"65":2.4,"66":4.4,"67":4.4,"68":4.4,"69":4.0,"70":2.8,"71":4.0,"72":4.8,"73":3.6,"74":4.0,"75":2.8,"76":2.4,"77":4.4,"78":4.8,"79":4.8,"80":2.8,"81":5.2,"82":2.8,"83":4.8,"84":4.4,"85":3.6,"86":5.2,"87":2.4,"88":4.4,"89":4.0,"90":4.4,"91":3.2,"92":3.6,"93":4.8,"94":5.2,"95":2.0,"96":3.6,"97":3.2,"98":2.4,"99":4.4},"\u0428\u0435\u0440\u0441\u0442\u0438\u0441\u0442":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":1,"6":1,"7":1,"8":1,"9":1,"10":1,"11":1,"12":1,"13":1,"14":1,"15":1,"16":1,"17":1,"18":1,"19":1,"20":1,"21":1,"22":1,"23":1,"24":1,"25":1,"26":1,"27":1,"28":1,"29":1,"30":1,"31":1,"32":1,"33":1,"34":1,"35":1,"36":0,"37":1,"38":1,"39":1,"40":1,"41":1,"42":1,"43":1,"44":1,"45":1,"46":1,"47":1,"48":1,"49":1,"50":0,"51":1,"52":1,"53":1,"54":1,"55":1,"56":1,"57":1,"58":1,"59":1,"60":1,"61":1,"62":1,"63":1,"64":1,"65":0,"66":1,"67":1,"68":1,"69":1,"70":1,"71":1,"72":1,"73":1,"74":1,"75":1,"76":1,"77":1,"78":1,"79":1,"80":1,"81":1,"82":1,"83":1,"84":1,"85":1,"86":1,"87":1,"88":1,"89":1,"90":1,"91":1,"92":0,"93":1,"94":1,"95":1,"96":1,"97":1,"98":1,"99":1},"\u0413\u0430\u0432\u043a\u0430\u0435\u0442":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":0,"6":1,"7":0,"8":1,"9":1,"10":1,"11":1,"12":1,"13":1,"14":1,"15":1,"16":1,"17":1,"18":1,"19":1,"20":1,"21":1,"22":1,"23":1,"24":1,"25":1,"26":1,"27":1,"28":1,"29":1,"30":0,"31":1,"32":1,"33":1,"34":0,"35":0,"36":1,"37":1,"38":1,"39":1,"40":1,"41":1,"42":1,"43":1,"44":1,"45":1,"46":1,"47":1,"48":1,"49":0,"50":0,"51":0,"52":0,"53":0,"54":0,"55":0,"56":0,"57":0,"58":0,"59":0,"60":0,"61":0,"62":0,"63":0,"64":1,"65":0,"66":0,"67":0,"68":0,"69":0,"70":0,"71":0,"72":0,"73":0,"74":0,"75":0,"76":0,"77":0,"78":0,"79":0,"80":0,"81":0,"82":0,"83":0,"84":0,"85":0,"86":0,"87":0,"88":0,"89":0,"90":1,"91":0,"92":0,"93":0,"94":0,"95":0,"96":0,"97":0,"98":0,"99":0},"\u041b\u0430\u0437\u0430\u0435\u0442 \u043f\u043e \u0434\u0435\u0440\u0435\u0432\u044c\u044f\u043c":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0,"16":0,"17":0,"18":0,"19":0,"20":0,"21":0,"22":0,"23":0,"24":0,"25":0,"26":0,"27":0,"28":0,"29":0,"30":0,"31":0,"32":0,"33":0,"34":0,"35":0,"36":0,"37":0,"38":0,"39":0,"40":0,"41":0,"42":0,"43":0,"44":0,"45":0,"46":0,"47":0,"48":0,"49":1,"50":1,"51":1,"52":1,"53":0,"54":1,"55":1,"56":1,"57":0,"58":1,"59":1,"60":1,"61":0,"62":1,"63":1,"64":1,"65":1,"66":1,"67":1,"68":1,"69":1,"70":1,"71":1,"72":1,"73":1,"74":0,"75":1,"76":1,"77":1,"78":1,"79":1,"80":1,"81":1,"82":1,"83":1,"84":1,"85":1,"86":1,"87":1,"88":0,"89":1,"90":1,"91":1,"92":1,"93":1,"94":1,"95":1,"96":1,"97":1,"98":1,"99":1}})

In [11]:
task

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      24    28.8         1        1                   0
1      24    28.8         1        1                   0
2      26    31.2         1        1                   0
3      18    21.6         1        1                   0
4      30    36.0         1        1                   0
..    ...     ...       ...      ...                 ...
95      5     2.0         1        0                   1
96      9     3.6         1        0                   1
97      8     3.2         1        0                   1
98      6     2.4         1        0                   1
99     11     4.4         1        0                   1

[100 rows x 5 columns]

In [12]:
result = clf.predict(task)

In [15]:
pd.Series(result)[result == 'собачка'].count()

49